.hero-unit {
    background-color: transparent;
    padding: 60px 0 30px 60px;
}
.hero-unit h1 {
    font-size: 50px;
    text-align: center;
}
.hero-unit p {
    text-align: center;
}
.btn-primary {
    margin-right:10px;
}
.row {
    margin-left: 80px;
    padding-left: 60px;
}
.span4 h2 {
    font-size: 1.5em;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.form-horizontal .control-group > label {
    width: 60px;
    padding: 5px 0 0 5px;
    text-align: left;
}
.form-horizontal .controls {
    margin-left: 60px;
}
.signup {
    margin-top: 50px;
}
.signup .btn {
    margin-left: 10px;
}
