.hero-unit .avatar {
    float: left;
    width:150px;
}
.hero-unit .profile {
    float: left;
    margin-left:15px;
}
.col_header {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 3px;
}
.profile-text {
    font-size: 1.1em;
    font-weight: bold;
}
.namefollowrow {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.span4 {
    width: 415px;
    margin-top: 10px;
}
.col_item {
    padding: 10px 0;
    width: 500px;
    border-bottom: 1px solid #EAEAEA;
    float: left;
    margin: 0 0 0 50px;
}
.mavatar {
    width: 50px;
    float: left;
}
.mdesc {
    width: 320px;
    float: left;
    margin: 0 0 0 10px;
}
.mfollow {
    float: right;
    width: 60px;
    margin:0;
}
.mdesc-name {
    margin-bottom: 3px;
    font-size: 1.1em;
    margin: 0 0 5px;
    font-weight: bold;
}
.mfollow .btn {
    clear: right;
    float: right;
    margin-top: -1px;
    margin-right: 0;
    width: 48px;
}
.btn-small {
    padding:2px 5px;
}
.namefollowrow .btn .btn-primary, .namefollowrow .btn {
    float:right;
    margin-right:200px;
    font-size: 12px;
    width: 50px;
    padding: 3px 5px 3px;
}
