<div class="tab-pane active" id="avatar">
    <div id="change-password">
        {% if 'success' in template_values %}
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#">×</a>
            头像已更新
        </div>
        {% end %}
        <h2>上传新头像</h2>
        <div class="oldavatar">
            <span>当前头像</span>
            <span style="margin-left: 10px"><img style="vertical-align:middle;" width="100px" height="100px" src="{{ static_url("img/no_avatar.jpg") }}"></span>
        </div>
        <div class="newavatar">
            <div class="avadesc">请使用不超过2MB的 jpg/png/gif 图片，建议尺寸大于100×100。</div>
            <form enctype="multipart/form-data" method="POST" action="{{ request.path }}">
                <div id="avatarcontrol" class="control-group {{ _('error') if template_values['errors'] != 0 and template_values['avatar_error'] else '' }}">
                    <div class="controls">
                        <input id="avatar" type="file" name="avatar">
                        <span id="avatarhelp" class="help-inline">{{ escape(template_values['avatar_error_message']) if template_values['errors']!=0 else '' }}</span>
                    </div>
                </div>
                <button class="btn" type="submit">上传</button>
                {{ xsrf_form_html() }}
            </form>
        </div>
</div>
