{% extends "base.html" %}

{% block head %}
<title>18周 › 出错了</title>
<style type="text/css">
    .marketing {
        margin: 80px 0 200px;
    }
    .marketing h1 {
        font-size: 70px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
    }
    .marketing .desc {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .marketing .links {
        text-align: center;
        font-size: 16px;
    }
</style>
{% end %}
{% block body %}
<div class="marketing">
    <h1>500</h1>
    <div class="desc">这儿出了点错～我们会很感谢你将遇到的这个情况 <a href="/contact">反馈</a> 给我们</div>
</div>
{% end %}
