{% block head %}
<title>18周 › 页面未找到</title>
<style type="text/css">
    .marketing {
        margin: 80px 0 200px;
    }
    .marketing h1 {
        font-size: 70px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 30px;
    }
    .marketing .desc {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .marketing .links {
        text-align: center;
        font-size: 16px;
    }
</style>
{% end %}
{% block body %}
<div class="marketing">
    <h1>Deactived</h1>
    <div class="desc">你的帐号已被deactive.我们不要求你使用真实姓名,但请保证你的学校和专业信息是真实的,如果想要回账户,请<a href="/contact">反馈</a>给我们.</div>
</div>
{% end %}
