{% extends "base.html" %}

{% block head %}
<title>编辑链接</title>
<style type="text/css">
    .pubform {
        float: right;
        margin-right: 200px;
    }
    .control-group {
        margin-bottom: 0;
        width: 615px;
    }
    .control-group .desc {
        font-size:12px;
        color: #999;
        float:right;
    }
    .input-xlarge {
        width: 600px;
        height: 15px;
        padding: 7px;
        font-size: 16px;
    }
    form #linksummary .input-xlarge {
        width: 600px;
        height: 140px;
        font-size: 14px;
        padding: 7px;
    }
    .sub-button .sub{
        float: right;
    }
    .sub-button .secretbox{
        float: right;
        margin-right: 20px;
        padding-top: 4px;
    }
    .form-horizontal .control-group > label {
        padding-top: 0;
        text-align: left;
        float: left;
    }
    .sub-button .cancel{
        float: left;
    }
    .sub-button .secretbox{
        float: right;
        margin-right: 20px;
        padding-top: 4px;
    }
    .suggestbox{
        float: right;
        margin-right: 5px;
        padding-top: 4px;
    }
    .suggestbox label, .secretbox label {
        display: inline-block;
    }
    #cancelbtn{
        float: right;
    }
    .sub-button .bookmarklet {
        float: right;
        margin-right: 170px;
        padding-top: 5px;
    }

</style>
{% end %}
{% block body %}
<div class="row">
    <div id="crModal" class="modal hide fade">
        <div class="modal-body">
            <p id="cr">为了方便你保存链接，建议将这个下面这个"保存"按钮拖到浏览器书签栏。</p>
            <p id="ie">为了方便你保存链接，建议右键点击下面这个"保存"按钮，并选择"添加到收藏"("Add to Favorites...")</p>
            <p style="text-align: center"><a href="javascript:function%20sl18(){location.href='http://18zhou.openpk.org/link/edit?pubtype=1&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)+'';}sl18();void(0);" class="btn btn-primary">保存</a></p>
            <p>以后你可以点击书签栏的"保存"链接，将正在浏览的任何网页链接保存到18周。</p>
        </div>
        <div class="modal-footer">
            <a href="#" id="cancelbtn" class="btn" data-dismiss="modal" >关闭</a>
            <span class="suggestbox">
                <input type="checkbox" name="suggest" id="suggest" onclick="return cansug();">
                <label for="suggest" id="suggest-label">下次不再提示</label>
            </span>
        </div>
    </div>
    <div class="pubform">
        <form  id='editlink' method='POST' action="{{ request.path }}" class="form-horizontal">
            <fieldset>
                <div class="control-group" id="linkurl">
                    <label class="control-label" for="url">URL</label>
                    <div class="desc">必填</div>
                    <input id="url" name="url" type="text" class="input-xlarge" value="{{ template_values['url'] if template_values['url'] else '' }}">
                </div>
                <div class="control-group" id="linktitle">
                    <label class="control-label" for="title">标题</label>
                    <div class="desc">选填</div>
                    <input id="title" name="title" type="text" class="input-xlarge" value="{{ template_values['title'] if template_values['title'] else '' }}">
                </div>
                <div class="control-group" id="linksummary">
                    <label class="control-label" for="sumary">描述</label>
                    <div class="desc">选填</div>
                    <textarea id="summary" name="summary"  class="input-xlarge"></textarea>
                </div>
                <div class="control-group" id="linktag">
                    <label class="control-label" for="tag">标签</label>
                    <div class="desc">选填，以空格或逗号分割</div>
                    <input id="tag" name="tag" type="text" class="input-xlarge" style="clear:both">
                </div>
            </fieldset>
            <div class="sub-button">
                <span class="sub">
                    <button type="submit" class="btn btn-primary" onclick="return editlink({{ template_values['pubtype'] }});">保存</button>
                </span>
                <span class="secretbox">
                    <input type="checkbox" name="secret" id="secret">
                    <label for="secret" id="secret-label">私密</label>
                </span>
                <span class="bookmarklet">
                    <a href="#" onclick="return modaltoggle(1);" style="color: #999;">添加浏览器书签</a>
                </span>
                <span class="cancel">
                    <a type="submit" class="btn" href="/">取消</a>
                </span>
            </div>
        </form>
        <div id="sug" style="display: none">{{ template_values['sugg'] }}</div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("js/bootstrap-modal.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/editlink.js") }}"></script>
{% end %}
