{% extends "base.html" %}

{% block head %}
<title>编辑文档</title>
<style type="text/css">
    .pubform {
        float: right;
        margin-right: 200px;
    }
    .control-group {
        margin-bottom: 0;
        width: 615px;
    }
    .control-group .desc {
        font-size:12px;
        color: #999;
        float:right;
    }
    .input-xlarge {
        width: 600px;
        height: 15px;
        padding: 7px;
        font-size: 16px;
    }
    form #linksummary .input-xlarge {
        width: 600px;
        height: 140px;
        font-size: 14px;
        padding: 7px;
    }
    .sub-button .sub{
        float: right;
    }
    .sub-button .secretbox{
        float: right;
        margin-right: 20px;
        padding-top: 4px;
    }
    .form-horizontal .control-group > label {
        padding-top: 0;
        text-align: left;
        float: left;
    }
    .sub-button .cancel{
        float: left;
    }
    .sub-button .secretbox{
        float: right;
        margin-right: 20px;
        padding-top: 4px;
    }
    .suggestbox{
        float: right;
        margin-right: 5px;
        padding-top: 4px;
    }
    .suggestbox label, .secretbox label {
        display: inline-block;
    }
    #cancelbtn{
        float: right;
    }
    .docdesc {
        color: #999;
        margin-bottom: 5px;
    }

</style>
{% end %}
{% block body %}
<div class="row">
    <div class="pubform">
        <form  id='editlink' enctype="multipart/form-data" method='POST' action="{{ '/upload' if 'id' not in template_values else request.path }}" class="form-horizontal">
            <fieldset>
                <div class="control-group {{ "error" if 'title_error' in template_values and template_values['title_error'] != 0 else '' }}" id="linktitle">
                    <label class="control-label" for="title">{{ template_values['title_error_message'] if 'title_error' in template_values and template_values['title_error'] != 0 else '标题'}}</label>
                    <div class="desc">必填</div>
                    <input id="title" name="title" type="text" class="input-xlarge" value="{{ template_values['title'] if 'title' in template_values and template_values['title'] else '' }}">
                </div>
                <div class="control-group" id="linksummary">
                    <label class="control-label" for="sumary">描述</label>
                    <div class="desc">选填</div>
                    <textarea id="summary" name="summary" class="input-xlarge">{{ template_values['summary'] if 'summary' in template_values and template_values['summary'] else '' }}</textarea>
                </div>
                <div class="control-group" id="linktag">
                    <label class="control-label" for="tag">标签</label>
                    <div class="desc">选填，以空格或逗号分割</div>
                    <input id="tag" name="tag" type="text" class="input-xlarge" style="clear:both" value="{{ template_values['tag'] if 'tag' in template_values and template_values['tag'] else '' }}">
                </div>
                {% if 'id' not in template_values %}
                <div class="doc" style="margin-bottom: 15px">
                    <div class="docdesc">支持 doc/docx/ppt/pptx/xls/pdf 格式文档，每个文档不超过20M</div>
                    <input id="doc" type="file" name="doc">
                    <span id="dochelp" class="help-inline" style="color: #B94A48">{{ escape(template_values['doc_error_message']) if 'doc_error' in template_values and template_values['doc_error'] !=0 else '' }}</span>
                </div>
                {% end %}
            </fieldset>
            <div class="sub-button">
                <span class="sub">
                    <button type="submit" id="docbtn" class="btn btn-primary" onclick="return submitdoc();">保存</button>
                </span>
                <span class="secretbox">
                    <input type="checkbox" name="secret" id="secret" {% if 'checked' in template_values and template_values['checked'] == 'checked' %}checked="checked"{% end %}>
                    <label for="secret" id="secret-label">私密</label>
                </span>
                <span class="cancel">
                    <a type="submit" class="btn" href="{{ '/' if 'id' not in template_values else '/doc/'+template_values['id'] }}">取消</a>
                </span>
            </div>
            <input id="docid" type="hidden" name="docid" value="{{ template_values['id'] if 'id' in template_values else '' }}">
            <input id="oldtag" type="hidden" name="oldtag" value="{{ template_values['tag'] if 'tag' in template_values else '' }}">
            {{ xsrf_form_html() }}
        </form>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/editdoc.js') }}"></script>
{% end %}
