{% extends "base.html" %}

{% block head %}
<title>18周 › 人物</title>
<style type="text/css">
    .span3 {
        width: 150px;
    }
    .thumbnails {
        width: 900px;
        clear:both;
        margin-left: 3px;
    }
    .thumbnails > li {
        margin: 0 0 0 30px;
    }
    .thumbnail {
        border: none;
    }
    .thumbnail .caption {
        margin-top: 5px;
        padding: 0;
    }
    .thumbnail .caption h5 {
        text-align: left;
        font-size: 13px;
    }
    .thumbnail .caption h5 a,.thumbnail .caption p a {
        color: #333;
    }
    .thumbnail .caption h5 a:hover,.thumbnail .caption p a:hover {
        color: #005580;
        text-decoration: none;
    }
    .thumbnail .caption p {
        text-align: right;
    }
    img {
        height: 150px;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span10">
            <ul class="thumbnails">
                {% for hero in template_values['people'] %}
                <li class="span3">
                <div class="thumbnail">
                    <a href="/people/{{ hero.domain }}"><img width="150px" height="150px" src="{{ handler.avatar('xl', hero.id, hero.uuid_) }}" alt=""></a>
                    <div class="caption">
                        <h5><a href="/people/{{ hero.domain }}">{{ hero.name }}</a></h5>
                        <p><a href="/city/{{ hero.c1 }}">{{ hero.c1 }}</a><br><a href="/college/{{ hero.c2 }}">{{ hero.c2 }}</a><br><a href="/major/{{ hero.c3 }}">{{ hero.c3 }}</a></p>
                    </div>
                </div>
                </li>
                {% end %}
            </ul>
            <div class="pagination" style="text-align: center">
                <ul>
                    {% for page in range(1, template_values['page_count']+1)%}
                    <li {{ "class='active'" if page == template_values['page'] else "" }}>
                    <a href="/hero?page={{ page }}">{{ page }}</a>
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
{% end %}
