{% extends "base.html" %}

{% block head %}
<title>18周 › 首页</title>
<style type="text/css">
    .container .row .span3 {
        float: right;
        margin-right:10px;
    }
    .publish {
        margin: 0 0 10px 60px;
    }
    .btn-small {
        padding: 2px 5px;
        width: 55px;
    }
    i {
        margin-right: 3px;
    }
    .publish {
        width: 510px;
    }
    .pubbox {
        margin-top: 10px;
    }
    #pubtextarea {
        height: 18px;
        width: 500px;
    }
    .main-tab {
        color: #666;
        background: #E0E0E0;
        border-color: #E0E0E0;
    }
    .feed-item {
        width:570px;
    }
    .feed-title {
        margin-left: 60px;
        color: #666;
        font-weight: bold;
        border-bottom: 1px solid #B0B0B0;
        padding-bottom: 5px;
        width:510px;
    }
    .submit-btn {
        text-align: right;
        display: none;
    }
    .avatar {
        padding-top: 5px;
        float: left;
        width: 50px;
    }
    .feed-item-content {
        margin-left: 10px;
        float: left;
        width: 510px;
        border-bottom: 1px solid #E0E0E0;
        padding: 5px 0 5px;
    }
    .feed-item-title a{
        color: gray;
    }
    .feed-item-title a:hover{
        color: #005580;
    }
    .feed-item-title .name {
        font-weight: bold;
        font-size: 14px;
    }
    .feed-item-title .desc {
        color: #999;
        font-size: 12px;
    }
    .feed-item-body{
        margin-top: 5px;
    }
    .feed-item-body p{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .feed-item-footer {
        font-size: 13px;
        color: #999;
    }
    .footerlink {
        color: #999;
    }
    .splitter {
        padding: 0 4px;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="publish">
                <div class="pubbtn">
                    <a class="btn btn-small main-tab"><i class="icon-plus-sign"></i>状态</a>
                    <a class="btn btn-small"><i class="icon-pencil"></i>日志</a>
                    <a class="btn btn-small"><i class="icon-picture"></i>图片</a>
                    <a class="btn btn-small"><i class="icon-bookmark"></i>链接</a>
                </div>
                {% if handler.xsrf_token %}
                <div style="display:none">xsrf generated if logged in ready for publish</div>                   
                {% end %}
                <div class="pubbox">
                    <!--<input id="pubinput" type="text" style="width:460px">-->
                    <textarea id="pubtextarea" placeholder="你在想什么?"></textarea>
                    <div class="submit-btn">
                        <a class="btn btn-primary btn-small" style="width: 30px;margin-left: 5px"  onclick="return submit('{{ current_user.name }}', '{{ current_user.domain }}');">提交</a>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    最新动态
                </div>
                <div class="feed-body">
                    {% for activity in template_values['all_activities'] %}
                    {% if activity[-2] == 'status' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="avatar">
                            <a href="#"><img width="50px" height="50px" src="{{ static_url("img/no_avatar.jpg") }}"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/{{ activity[-3] }}">{{ activity[-4] }}</a>
                                <span class="feed-item-title desc">更新了状态:</span>
                            </div>
                            <div class="feed-item-body">
                                <p>{{ activity[1] }}</p>
                            </div>
                            <div class="feed-item-footer">
                                <div style="float:left"><span><a class="footerlink" href="/people/{{ activity[-3] }}/status/{{ activity[2] }}">{{ activity[0] }}</a></span>
                                </div>
                                <div style="float:right">
                                {% if current_user.name == activity[-3] %}
                                <span><a class="footerlink" href="#" onclick="return deletestatus({{ activity[-1] }},'{{ activity[-3] }}', {{ activity[2] }});">删除</a></span>
                                <span class="splitter">•</span>
                                {% end %}
                                <!--
                                <span><a class="footerlink" href="#"><i class="icon-retweet"></i>转发</a></span>
                                <span class="splitter">•</span>
                                -->
                                <span><a class="footerlink" href="#">评论</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% end %}
                    {% end %}
                </div>
            </div>
        </div>
        <div class="span3"></div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("js/home.js") }}"></script>
{% end %}
