{% extends "base.html" %}

{% block head %}
<title>18周 › 首页</title>
<link rel="stylesheet" href="{{ static_url("css/home.css") }}" type="text/css"/>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="publish">
                <div class="pubbtn">
                    <a class="btn btn-small main-tab"><i class="icon-plus-sign"></i>状态</a>
                    <a href="/note/touch" class="btn btn-small"><i class="icon-pencil"></i>日志</a>
                    <a href="/link/edit" class="btn btn-small"><i class="icon-bookmark"></i>链接</a>
                    <a href="/doc/edit" class="btn btn-small"><i class="icon-book"></i>文档</a>
                </div>
                <div class="pubbox">
                    <textarea id="pubtextarea" placeholder="你在想什么?"></textarea>
                    <div class="submit-btn">
                        <a class="btn btn-primary btn-small" style="width: 30px;margin-left: 5px"  onclick="return submit('{{ current_user.name }}', '{{ current_user.domain }}');">发布</a>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    最新动态
                </div>
                <!--<a href="#" id="newbtn" class="btn">1条新动态</a>-->
                <div class="feed-body">
                    {% module Template("modules/home_activities.html", template_values=template_values) %}                    
                </div>
                <div id="li" style="display: none">{{ template_values['lastindex'] }}</div>
                <div id="litem" style="display: none">{{ template_values['lastitem'] }}</div>
                <a href="#" id="morebtn" class="btn" style='{{ "display: none" if template_values['hasnext'] == 0 else "" }}' onclick="return morefeed('home')">更多</a>
            </div>
        </div>
        <div class="span3">
            <div class="navright">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">全部动态</a></li>
                    <li><a href="/my">我关注的</a></li>
                </ul>
            </div>
        </div>
        <a id="totop" href="javascript:void(0);" class="totop" style="opacity: 1;" onclick="return backtotop();"></a>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/home.js') }}"></script>
{% end %}
