{% extends "base.html" %}

{% block head %}
<title>18周--首页</title>
<style type="text/css">
    .container .row .span3 {
        float: right;
        margin-right:10px;
    }
    .publish {
        margin: 0 0 10px 60px;
    }
    .btn-small {
        padding: 2px 5px;
        width: 55px;
    }
    i {
        margin-right: 3px;
    }
    .publish {
        width: 510px;
    }
    .pubbox {
        margin-top: 10px;
    }
    #pubtextarea {
        height: 18px;
        width: 500px;
    }
    .main-tab {
        color: #666;
        background: #E0E0E0;
        border-color: #E0E0E0;
    }
    .feed-item {
        width:570px;
    }
    .feed-title {
        margin-left: 60px;
        color: #666;
        font-weight: bold;
        border-bottom: 1px solid #B0B0B0;
        padding-bottom: 5px;
        width:510px;
    }
    .submit-btn {
        text-align: right;
        display: none;
    }
    .avatar {
        padding-top: 5px;
        float: left;
        width: 50px;
    }
    .feed-item-content {
        margin-left: 10px;
        float: left;
        width: 510px;
        border-bottom: 1px solid #E0E0E0;
        padding: 5px 0 5px;
    }
    .feed-item-title .name {
        color: #333;
        font-weight: bold;
        font-size: 14px;
    }
    .feed-item-title .desc {
        color: #999;
        font-size: 12px;
    }
    .feed-item-body{
        margin-top: 5px;
    }
    .feed-item-body p{
        margin-bottom: 5px;
    }
    .feed-item-footer {
        font-size: 13px;
        color: #999;
    }
    .footerlink {
        color: #999;
    }
    .splitter {
        padding: 0 4px;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="publish">
                <div class="pubbtn">
                    <a class="btn btn-small main-tab"><i class="icon-plus-sign"></i>状态</a>
                    <a class="btn btn-small"><i class="icon-pencil"></i>日志</a>
                    <a class="btn btn-small"><i class="icon-picture"></i>图片</a>
                    <a class="btn btn-small"><i class="icon-bookmark"></i>链接</a>
                </div>
                {% if handler.xsrf_token %}
                <div style="display:none">xsrf generated if logged in ready for publish</div>                   
                {% end %}
                <div class="pubbox">
                    <!--<input id="pubinput" type="text" style="width:460px">-->
                    <textarea id="pubtextarea" placeholder="   你在想什么?" onfocusin="showbtn();" onfocusout="hidebtn();"></textarea>
                    <div class="submit-btn">
                        <a class="btn btn-primary btn-small" style="width: 30px;margin-left: 5px"  onclick="return submit();">提交</a>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    最新动态
                </div>
                <div class="feed-body">
                    <!--
                    <div class="feed-item">
                        <div class="avatar">
                            <a href="#"><img width="50px" height="50px" src="../static/img/no_avatar.jpg"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/alex">alex</a>
                                <span class="feed-item-title desc">更新了状态:</span>
                            </div>
                            <div class="feed-item-body">
                                <p>从林书豪现象想到的：1 兴趣很重要。无法想象林对篮球没兴趣的话怎么坚持数年；2 把握机会能力很重要；3找到自己的优势所在很重要，扬长避短；4 从teamleader的角度，慧眼识英雄很重要。有时候总觉得挖人才能解决问题，其实内部已经有千里马。</p>
                            </div>
                            <div class="feed-item-footer">
                                <span><a class="footerlink" href="#"><i class="icon-retweet"></i>推荐1</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="#"><i class="icon-comment"></i>评论1</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="#"><i class="icon-time"></i>2012-02-15 14:59:57</a></span>
                            </div>
                        </div>
                    </div>
                    -->
                    {% for activity in template_values['all_activities'] %}
                    {% if activity[-2] == 'status' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="avatar">
                            <a href="#"><img width="50px" height="50px" src="{{ static_url("img/no_avatar.jpg") }}"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/{{ activity[-3] }}">{{ activity[-3] }}</a>
                                <span class="feed-item-title desc">更新了状态:</span>
                            </div>
                            <div class="feed-item-body">
                                <p>{{ activity[2] }}</p>
                            </div>
                            <div class="feed-item-footer">
                                {% if template_values['username'] == activity[-3] %}
                                <span><a class="footerlink" href="#" onclick="deletestatus({{ activity[-1] }},'{{ activity[-3] }}', {{ activity[1] }});"><i class="icon-remove"></i>删除</a></span>
                                <span class="splitter">•</span>
                                {% end %}
                                <span><a class="footerlink" href="#"><i class="icon-retweet"></i>推荐0</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="#"><i class="icon-comment"></i>评论0</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="/people/{{ activity[-3] }}/status/{{ activity[1] }}"><i class="icon-time"></i>{{ activity[0] }}</a></span>
                            </div>
                        </div>
                    </div>
                    {% end %}
                    {% end %}
                </div>
            </div>
        </div>
        <div class="span3"></div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("js/loginindex.js") }}"></script>
{% end %}
