{% extends "base.html" %}

{% block head %}
<title>18周 › 首页</title>
<link rel="stylesheet" href="{{ static_url("css/home.css") }}" type="text/css"/>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="publish">
                <div class="pubbtn">
                    <a class="btn btn-small main-tab"><i class="icon-plus-sign"></i>状态</a>
                    <a href="/note/touch" class="btn btn-small"><i class="icon-pencil"></i>日志</a>
                    <a href="/link/edit" class="btn btn-small"><i class="icon-bookmark"></i>链接</a>
                    <a href="/doc/edit" class="btn btn-small"><i class="icon-book"></i>文档</a>
                </div>
                <div class="pubbox">
                    <textarea id="pubtextarea" placeholder="你在想什么?"></textarea>
                    <div class="submit-btn">
                        <a class="btn btn-primary btn-small" style="width: 30px;margin-left: 5px"  onclick="return submit('{{ current_user.name }}', '{{ current_user.domain }}');">发布</a>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    最新动态
                </div>
                <div class="feed-body">
                    {% if len(template_values['all_activities']) == 0 %}
                    <div class="noinfo">
                    小提示:你关注某人之后，这个人以后发布的信息就会出现在这里了，但是ta之前发布的信息暂时还不能出现在这里。
                    <br>
                    暂时没有你关注的信息，去<a href="/">首页</a>看看吧^_^
                    </div>
                    {% end %}
                    {% module Template("modules/activities.html", template_values=template_values) %}
                </div>
                <div id="li" style="display: none">{{ template_values['lastindex'] }}</div>
                <a href="#" id="morebtn" class="btn" style='{{ "display: none" if template_values['hasnext'] == 0 else "" }}' onclick="return morefeed('myhome')">更多</a>
            </div>
        </div>
        <div class="span3">
            <div class="navright">
                <ul class="nav nav-pills nav-stacked">
                    <li ><a href="/">全部动态</a></li>
                    <li class="active"><a href="#">我关注的</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/home.js') }}"></script>
{% end %}
