{% extends "base.html" %}

{% block head %}
<title>18周 › 首页</title>
<style type="text/css">
    .container .row .span3 {
        float: right;
        margin-right:10px;
    }
    .publish {
        margin: 0 0 10px 60px;
    }
    .btn-small {
        padding: 2px 5px;
        width: 55px;
    }
    i {
        margin-right: 3px;
    }
    .publish {
        width: 510px;
    }
    .pubbox {
        margin-top: 10px;
    }
    #pubtextarea {
        height: 18px;
        width: 500px;
    }
    .main-tab {
        color: #666;
        background: #E0E0E0;
        border-color: #E0E0E0;
    }
    .feed-item {
        width:570px;
    }
    .feed-title {
        margin-left: 60px;
        color: #666;
        font-weight: bold;
        border-bottom: 1px solid #B0B0B0;
        padding-bottom: 5px;
        width:510px;
    }
    .submit-btn {
        text-align: right;
        display: none;
    }
    .avatar {
        padding-top: 5px;
        float: left;
        width: 50px;
    }
    .feed-item-content {
        margin-left: 10px;
        float: left;
        width: 510px;
        border-bottom: 1px solid #E0E0E0;
        padding: 5px 0 5px;
    }
    .follow-item-content {
        margin-left: 60px;
        float: left;
        width: 510px;
        border-bottom: 1px solid #E0E0E0;
        padding: 5px 0 5px;
    }
    .feed-item-title a{
        color: gray;
    }
    .feed-item-title a:hover{
        color: #005580;
    }
    .feed-item-title .name {
        font-weight: bold;
        font-size: 14px;
    }
    .feed-item-title .desc {
        color: #999;
        font-size: 12px;
    }
    .feed-item-body, .follow-item-body{
        margin-top: 5px;
    }
    .feed-item-body p, .follow-item-body p{
        margin-bottom: 5px;
        font-size: 14px;
        word-break: break-all;
    }
    .feed-item-body p a {
        color: #19558D;
    }
    .follow-item-body p a {
        color: #333;
    }
    .feed-item-footer {
        font-size: 13px;
        color: #999;
    }
    .footerlink {
        color: #999;
    }
    .splitter {
        padding: 0 4px;
    }
    .nav-pills .active > a, .nav-pills .active > a:hover {
        color: #333;
        background-color: #E0E0E0;
    }
    .follow-time {
        color: #999;
        font-size:13px;
    }
    .noinfo {
        margin:10px 0 0 60px;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="publish">
                <div class="pubbtn">
                    <a class="btn btn-small main-tab"><i class="icon-plus-sign"></i>状态</a>
                    <a href="/note/touch" class="btn btn-small"><i class="icon-pencil"></i>日志</a>
                    <a href="/link/edit" class="btn btn-small"><i class="icon-bookmark"></i>链接</a>
                </div>
                <div class="pubbox">
                    <textarea id="pubtextarea" placeholder="你在想什么?"></textarea>
                    <div class="submit-btn">
                        <a class="btn btn-primary btn-small" style="width: 30px;margin-left: 5px"  onclick="return submit('{{ current_user.name }}', '{{ current_user.domain }}');">发布</a>
                    </div>
                </div>
            </div>
            <div class="feed">
                <div class="feed-title">
                    最新动态
                </div>
                <div class="feed-body">
                    {% if len(template_values['all_activities']) == 0 %}
                    <div class="noinfo">
                    小提示:你关注某人之后，这个人以后发布的信息就会出现在这里了，但是ta之前发布的信息暂时还不能出现在这里。
                    <br>
                    暂时没有你关注的信息，去<a href="/">首页</a>看看吧^_^
                    </div>
                    {% end %}
                    {% for activity in template_values['all_activities'] %}
                    {% if activity[-2] == 'status' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="avatar">
                            <a href="/people/{{ activity[-4] }}"><img width="50px" height="50px" src="{{ handler.avatar('m', int(activity[-6]), activity[-3]) }}"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/{{ activity[-4] }}">{{ activity[-5] }}</a>
                                <span class="feed-item-title desc">更新了状态:</span>
                            </div>
                            <div class="feed-item-body">
                                <p>{{ handler.br(handler.at(linkify(activity[1], extra_params="target='_blank' rel='nofollow'"))) }}</p>
                            </div>
                            <div class="feed-item-footer">
                                <div style="float:left"><span><a class="footerlink" href="/status/{{ handler.encode(activity[3]) }}">{{ activity[0] }}</a></span>
                                </div>
                                <div style="float:right">
                                {% if str(current_user.name) == activity[-5] %}
                                <span><a class="footerlink" href="#" onclick="return deleteactivity({{ activity[-1] }},'{{ activity[-5] }}', '{{ handler.encode(activity[3]) }}', 1);">删除</a></span>
                                <span class="splitter">•</span>
                                {% end %}
                                <span><a class="footerlink" href="/status/{{ handler.encode(activity[3]) }}">{% if not activity[2] or activity[2]=='0' %}评论{% else %}评论({{ activity[2] }}){% end %}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif activity[-2] == 'note' and activity[3] == '0' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="avatar">
                            <a href="/people/{{ activity[-4] }}"><img width="50px" height="50px" src="{{ handler.avatar('m', int(activity[-6]), activity[-3]) }}"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/{{ activity[-4] }}">{{ activity[-5] }}</a>
                                <span class="feed-item-title desc">发布了日志:</span>
                                <span><a href="/note/{{ handler.encode(activity[5]) }}">{{ activity[1] }}</a></span>
                            </div>
                            <div class="feed-item-body">
                                <p id="note{{ activity[-1] }}">{{ "".join([handler.at(linkify(activity[2], extra_params="target='_blank' rel='nofollow'")), " <a href='#' onclick=\"return viewnote('" + handler.encode(activity[5]) +"', '" + str(activity[-1]) + "');\">显示全部 »</a>"]) if len(unicode(activity[2])) < 150 and unicode(activity[2])[-4:]==" ..." else handler.br(handler.at(linkify(activity[2], extra_params="target='_blank' rel='nofollow'"))) }}</p>
                                <p id="allnote{{ activity[-1] }}"></p>
                            </div>
                            <div class="feed-item-footer">
                                <div style="float:left"><span><a class="footerlink" href="/note/{{ handler.encode(activity[5]) }}">{{ activity[0] }}</a></span>
                                </div>
                                <div style="float:right">
                                {% if str(current_user.name) == activity[-5] %}
                                <span><a class="footerlink" href="#" onclick="return deleteactivity({{ activity[-1] }},'{{ activity[-5] }}', '{{ handler.encode(activity[5]) }}', 2);">删除</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="/note/touch?id={{ handler.encode(activity[5]) }}">编辑</a></span>
                                <span class="splitter">•</span>
                                {% end %}
                                <span><a class="footerlink" href="/note/{{ handler.encode(activity[5]) }}">{% if not activity[4] or activity[4]=='0' %}评论{% else %}评论({{ activity[4] }}){% end %}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif activity[-2] == 'follow' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="follow-item-content">
                            <div class="follow-item-body">
                                <p>
                                <a href="/people/{{ activity[-5] }}"><img style="vertical-align:middle;" width="25px" height="25px" src="{{ handler.avatar('s', int(activity[-6]), activity[-3]) }}"></a>
                                <a href="/people/{{ activity[-4] }}">{{activity[-5] }}</a> 关注了 
                                <a href="/people/{{ activity[3] }}"><img style="vertical-align:middle;" width="25px" height="25px" src="{{ handler.avatar('s', int(activity[1]), activity[4]) }}"></a>
                                <a href="/people/{{ activity[3] }}">{{ activity[2] }}</a><span class="follow-time"> {{ activity[0] }}</span></p>
                            </div>
                        </div>
                    </div>
                    {% elif activity[-2] == 'link' and activity[4] == '0' %}
                    <div id="feed-item{{ activity[-1] }}" class="feed-item">
                        <div class="avatar">
                            <a href="/people/{{ activity[-4] }}"><img width="50px" height="50px" src="{{ handler.avatar('m', int(activity[-6]), activity[-3]) }}"></a>
                        </div>
                        <div class="feed-item-content">
                            <div class="feed-item-title">
                                <a class="feed-item-title name" href="/people/{{ activity[-4] }}">{{ activity[-5] }}</a>
                                <span class="feed-item-title desc">收藏了链接:</span>
                                <span><a href="/link/{{ handler.encode(activity[6]) }}">{{ activity[2] if activity[2] else activity[1] }}</a></span>
                            </div>
                            <div class="feed-item-body">
                                <p>{{ activity[3] if activity[3] else "" }}</p>
                            </div>
                            <div class="feed-item-footer">
                                <div style="float:left"><span><a class="footerlink" href="/link/{{ handler.encode(activity[6]) }}">{{ activity[0] }}</a></span>
                                </div>
                                <div style="float:right">
                                {% if str(current_user.name) == activity[-5] %}
                                <span><a class="footerlink" href="#" onclick="return deleteactivity({{ activity[-1] }},'{{ activity[-5] }}', '{{ handler.encode(activity[6]) }}', 3);">删除</a></span>
                                <span class="splitter">•</span>
                                <span><a class="footerlink" href="/link/edit?id={{ handler.encode(activity[6]) }}">编辑</a></span>
                                <span class="splitter">•</span>
                                {% end %}
                                <span><a class="footerlink" href="/link/{{ handler.encode(activity[6]) }}">{% if not activity[5] or activity[5]=='0' %}评论{% else %}评论({{ activity[5] }}){% end %}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% end %}
                    {% end %}
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="navright">
                <ul class="nav nav-pills nav-stacked">
                    <li ><a href="/">全部动态</a></li>
                    <li class="active"><a href="#">我关注的</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/home.js') }}"></script>
{% end %}
