{% extends "base.html" %}

{% block head %}
<title>{{ template_values['note'].title }}</title>
<style type="text/css">
    .note-item {
        margin-left: 100px;
        min-height: 50px;
        width: 640px;
        border-bottom: 3px solid silver;
        margin-bottom: 1px;
    }
    .note-title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 640px;
        margin-bottom: 20px;
        word-break: break-all;
    }
    .note-text {
        font-size: 14px;
        width: 640px;
        margin-bottom: 10px;
        word-break: break-all;
        line-height: 22px;
    }
    .note-text a{
        color: #19558D;
    }
    .note-bottom {
        color: #999;
        font-size: small;
        margin-bottom: 5px;
        text-align: right;
    }
    .note-bottom .note-action {
        float: left;
    }
    .note-bottom .note-info a,.note-bottom .note-action a {
        color: #999;
    }
    .note-comment {
        margin-left: 100px;
        width: 640px;
        border-top: 1px solid silver;
    }
    .note-comment .comment-number {
        padding-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .note-comment .comment-item {
        border-top: 1px solid #E0E0E0;
        clear: both;
    }
    .note-comment .comment-item-content {
        float: left;
        padding: 5px 0 5px;
        width: 640px;
    }
    .note-comment .comment-item-body {
        margin-top: 5px;
    }
    .note-comment .comment-item-body p{
        margin-bottom: 5px;
        font-size: 14px;
        word-break: break-all;
    }
    .note-comment .comment-item-body p a{
        color: #19558D;;
    }
    .note-comment .comment-item-title a {
        color: gray;
    }
    .note-comment .comment-item-title a:hover {
        color: #005580;
    }
    .note-comment .comment-item-title .name {
        font-weight: bold;
        font-size: 14px;
    }
    .note-comment .comment-item-title .time {
        float: right;
        text-align: right;
        font-size: small;
        color: #999;
        width: 100px;
    }
    .note-comment .commavatar {
        padding-top: 5px;
        margin-left: -60px;
        float: left;
        width: 50px;
    }
    .add-comment {
        margin-left: 100px;
        width: 640px;
    }
    .clickable {
        cursor: pointer;
        display:inline;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    <div class="span7">
        <div class="note-item">
            <div class="note-title">
                {{ template_values['note'].title }}
            </div>
            <div class="note-text">
                {{ handler.link(handler.br(handler.at(unicode(template_values['note'].note)))) }}
            </div>
            <div class="note-bottom">
                <span class="note-info">
                <a href="/people/{{ template_values['note'].domain }}">{{ template_values['note'].name }}</a> 发布于 {{ str(template_values['note'].pubdate)[5:-3] if str(template_values['note'].pubdate)[5] != '0' else str(template_values['note'].pubdate)[6:-3] }}
                </span>
                {% if current_user and current_user.name == template_values['note'].name %}
                <span class="note-action">
                    <span><a href="/note/touch?id={{ request.path.split("/")[-1] }}">编辑</a></span>
                    <span class="splitter"> • </span>
                    <span><a href="#" onclick="return delactivity('{{ current_user.name }}', '{{ request.path.split("/")[-1] }}', 2);">删除</a></span>
                </span>
                {% end %}
            </div>
        </div>
        <div class="note-comment">
            {% if current_user or (not current_user and template_values['comments_length'] == '0') %}
            <div class="comment-number">
                <i class="icon-comment"></i><span id="number">评论({{ template_values['comments_length'] }})</span>
            </div>
            {% end %}
            {% for comments in template_values['comments'] %}
            <div class="comment-item">
                <div class="commavatar">
                    <a href="/people/{{ comments.domain }}"><img width="50px" height="50px" src="{{ handler.avatar('m', comments.id, comments.uuid_) }}"></a>
                </div>
                <div class="comment-item-content">
                    <div class="comment-item-title">
                        <a class="name" href="/people/{{ comments.domain }}">{{ comments.name }}</a>
                        <span class="time">
                            {{ str(comments.pubdate)[5:-3] if str(comments.pubdate)[5] != '0' else str(comments.pubdate)[6:-3] }}   
                            <img src="{{ static_url('img/reply.png') }}" align="absmiddle" border="0" alt="回复 {{ comments.name }}" onclick="replyOne('{{ comments.name }}')" class="clickable">
                        </span>
                    </div>
                    <div class="comment-item-body">
                        <p>{{ handler.at(handler.br(comments.comments)) }}</p>
                    </div>
                </div>
            </div>
            {% end %}
        </div>
        {% if current_user %}
        <div class="add-comment">
            <form id="comment-form" method="POST" action="{{ request.path }}" >
                <textarea id="comment-box" name="comment" style="width:630px;height: 60px;margin-top:5px"></textarea>
                <button class="btn" style="float:right" onclick="return submitfunc('{{ request.path }}','{{ current_user.name}}','{{ current_user.domain }}','{{ template_values['comments_length'] }}',1);">提交</button>
            </form>
        </div>
        {% end %}
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/activity.js') }}"></script>
{% end %}
