{% extends "base.html" %}

{% block head %}
<title>18周 › {{ template_values['username'] }}</title>
<style type="text/css">
    .hero-unit .avatar {
        float: left;
        width:150px;
        position: relative;
    }
    .hero-unit .avatar .edit_avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #888;
        display: none;
    }
    .hero-unit .avatar .edit_avatar a{
        color: white;
        display: block;
        padding: 5px 0 5px 25px;
    }
    .hero-unit .profile {
        float: left;
        margin-left:15px;
        width: 700px;
    }
    .hero-unit p {
        margin: 0;
    }
    .hero-unit p.profile-text {
        font-size: 15px;
        color: #333;
        line-height:18px;
    }
    .hero-unit p.education {
        font-size: 14px;
    }
    a.dark {
        color: #788887;
    }
    sup.reference {
        font-weight: normal;
        font-style: normal;
        font-size: 11px;
        color: #788887;
    }
    .namefollowrow .btn-primary, .namefollowrow .btn {
        float:right;
        margin-right:200px;
        font-size: 12px;
        width: 50px;
        padding: 3px 5px 3px;
    }
    .namefollowrow {
        clear: both;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .row {
        margin-left:0;
        display:block;
        clear: both;
        width: 100%;
    }
    .row .col1{
        float: left;
        margin: 10px 0 0 40px;
        width: 415px;
    }
    .row .col2 {
        float:left;
        margin: 10px 0 0 40px;
        width: 415px;
    }
    .span4 {
        width: 415px;
        margin-left: 0;
    }
    .col_header {
        border-bottom: 1px solid #EAEAEA;
        padding-bottom: 5px;
    }
    .latest_activity {
        margin-top: 5px;
    }
    a.tabtitle {
        font-size: 1.1em;
        color: #19558D;
        font-weight: bold;
    }
    .light_gray a, .light_gray {
        color: #999;
    }
    .light_gray a:hover {
        color: #08C;
    }
    .status_preview {
        word-break: break-all;
    }
    .status_preview_link .cell .status_preview a {
        color: #19558D;
    }
    .status_preview_link {
        clear: both;
        float: left;
        padding: 5px;
        margin-left: -5px;
        width: 100%;
    }
    .status_preview_link .cell a{
        color: #333;
    }
    .status_preview_link .cell a:hover{
        color: #005580;
    }
    div.timestamp {
        font-size: .8em;
        color: #999;
    }
    .status_preview_link .cell .timestamp a{
        color:#999;
    }
    .status_preview_link .cell .timestamp a:hover{
        color: #005580;
    }
    #description {
        width: 690px;
        height: 60px;
        color: #333;
        font-size: 14px;
    }
    .descaction {
        text-align: right;
    }
    .descaction .btn {
        margin-left: 10px;
    }
    #canceldesc {
        color: #19558D;
    }
    .the-icons {
        display: inline-block;
        font-size: 10px;
        margin-left: 5px;
    }
</style>
{% end %}
{% block body %}
<div class="container">
    {% if not current_user %}{% module Template("modules/followpopup.html") %}{% end %}
    <div class="hero-unit" style="margin-left:40px;padding:0;background-color:#FFF">
        <div class="namefollowrow">
            <h3 style="display:inline">{{ escape(template_values['username']) }}</h3>
            {% if not template_values['is_self'] %}
            {% if not template_values['is_follow'] %}
            <a id="follow-btn" data-toggle="modal" href="#myModal" class="btn btn-primary" onclick="{% if current_user %}return follow('follow-btn', {{ current_user['id'] }}, {{ template_values['id'] }}){% end %}">关注</a>
            <a id="unfollow-btn" class="btn" style="display:none" onclick="{% if current_user %}unfollow('follow-btn', {{ current_user['id'] }}, {{ template_values['id'] }}){% end %}">取消关注</a>
            {% else %}
            <a id="follow-btn" class="btn btn-primary" style="display:none" onclick="{% if current_user %}follow('follow-btn', {{ current_user['id'] }}, {{ template_values['id'] }}){% end %}">关注</a>
            <a id="unfollow-btn" class="btn" onclick="{% if current_user %}unfollow('follow-btn', {{ current_user['id'] }}, {{ template_values['id'] }}){% end %}">取消关注</a>
            {% end  %}
            {% end  %}
        </div>
        <div class="avatar" id="useravatar">
            <img width="150px" height="150px" src="{{ handler.avatar('xl', template_values['id'], template_values['uuid']) }}" alt=""{{ template_values['username'] }}>
            {% if current_user and current_user.id == template_values['id'] %}
            <div class="edit_avatar" id="editavatar">
                <a href="/settings/avatar"><i class="icon-upload icon-white"></i>上传新头像</a>
            </div>
            {% end %}
        </div>
        <div class="profile">
            {% if current_user and current_user.id == template_values['id'] and not template_values['has_selfdesc']%}
            <p class="profile-text"><a href="#" id="activatedesc" onclick="return activatedesc();">描述下你自己</a></p>
            <p class="profile-text" id="textdesc" style="display:none"></p>
            <span class="the-icons" style="display:none"><a href="#" style="color:#788887;" onclick="return changedesc();"><i class="icon-edit"></i>修改</a></span>
            {% end %}
            {% if template_values['has_selfdesc'] %}
            <p class="profile-text" id="textdesc" style="display:inline">{{ template_values['selfdesc'] }}</p>
            {% if current_user and template_values['id'] == current_user.id %}
            <span class="the-icons" style="display:inline-block"><a href="#" style="color:#788887;" onclick="return changedesc();"><i class="icon-edit"></i>修改</a></span>
            {% end %}
            {% end %}
            <div class="descform" style="display:none">
                <textarea id="description"></textarea>
                <div class="descaction">
                    <a href="#" id="canceldesc" onclick="return canceldesc();">取消</a>
                    <a class="btn btn-primary" onclick="return submitdesc();">提交</a>
                </div>
            </div>
            {% if template_values['college_type'] == 3 %}
            <p class="education">
            <a class="dark" href="/city/{{ escape(template_values['bs_city']) }}">{{ escape(template_values['bs_city']) }}</a>
            <span class="splitter">/</span> <a class="dark" href="/college/{{ escape(template_values['bs_college']) }}">{{ escape(template_values['bs_college']) }}</a> 
            <span class="splitter">/</span> <a class="dark" href="/major/{{ escape(template_values['bs_major']) }}">{{ escape(template_values['bs_major']) }}</a> 
            <sup class='reference'> [博士] </sup>
            </p>
            {% end %}
            {% if template_values['college_type'] in [2,3] %}
            <p class="education">
            <a class="dark" href="/city/{{ escape(template_values['ss_city']) }}">{{ escape(template_values['ss_city']) }}</a>
            <span class="splitter">/</span> <a class="dark" href="/college/{{ escape(template_values['ss_college']) }}">{{ escape(template_values['ss_college']) }}</a> 
            <span class="splitter">/</span> <a class="dark" href="/major/{{ escape(template_values['ss_major']) }}">{{ escape(template_values['ss_major']) }}</a> 
            <sup class='reference'> [硕士] </sup>
            </p>
            {% end %}
            {% if template_values['college_type'] in [1,2,3] %}
            <p class="education">
            <a class="dark" href="/city/{{ escape(template_values['city']) }}">{{ escape(template_values['city']) }}</a>
            <span class="splitter">/</span> <a class="dark" href="/college/{{ escape(template_values['college']) }}">{{ escape(template_values['college']) }}</a> 
            <span class="splitter">/</span> <a class="dark" href="/major/{{ escape(template_values['major']) }}">{{ escape(template_values['major']) }}</a> 
            {% if template_values['college_type'] in [2,3] %}
            <sup class='reference'> [本科] </sup>
            {% end %}
            </p>
            {% end %}
            {% if template_values['college_type'] == 4 %}
            <p class="education">
            <a class="dark" href="#">{{ escape(template_values['zx_province']) }}</a>
            <span class="splitter">/</span> <a class="dark" href="#">{{ escape(template_values['zx_city']) }}</a> 
            <span class="splitter">/</span> <a class="dark" href="#">{{ escape(template_values['zx_school']) }}</a> 
            </p>
            {% end %}
            <p class="education">
            <a class="dark" href="/people/{{ escape(template_values['domain']) }}/following">关注{{ template_values['follow_count'] }}</a>
            <span class="splitter">/</span> <a class="dark" href="/people/{{ template_values['domain'] }}/follower">被关注{{ template_values['follower_count'] }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col1">
            <div class="span4">
                <div class="col_header">
                    <a href="#" class="tabtitle">活动 {{ template_values['activity_count'] }}</a>
                </div>
                <div class="latest_activity">
                    {% for activity in template_values['activities']%}
                    <p class="light_gray">
                    {% if activity[-1] == 0 %}
                    <a href="/people/{{ template_values['domain'] }}">{{ template_values['username'] }}</a> 关注了 <a href="{{ activity[2] }}">{{ activity[1] }}</a>. <span class="timestamp">{{ activity[0] }}</span>
                    {% elif activity[-1] == 1 %}
                    <a href="/people/{{ template_values['domain'] }}">{{ template_values['username'] }}</a> <a href="/status/{{ handler.encode(activity[2]) }}">更新了状态</a>. <span class="timestamp">{{ activity[0] }}</span>
                    {% elif activity[-1] == 2 %}
                    <a href="/people/{{ template_values['domain'] }}">{{ template_values['username'] }}</a> <a href="/note/{{ handler.encode(activity[4]) }}">发布了日志</a>. <span class="timestamp">{{ activity[0] }}</span>
                    {% elif activity[-1] == 3 %}
                    <a href="/people/{{ template_values['domain'] }}">{{ template_values['username'] }}</a> <a href="/link/{{ handler.encode(activity[4]) }}">收藏了链接</a>. <span class="timestamp">{{ activity[0] }}</span>
                    {% elif activity[-1] == 4 %}
                    <a href="/people/{{ template_values['domain'] }}">{{ template_values['username'] }}</a> <a href="/doc/{{ handler.encode(activity[4]) }}">分享了文档</a>. <span class="timestamp">{{ activity[0] }}</span>
                    {% end %}
                    </p>
                    {% end %}         
                </div>
            </div>
            {% if template_values['link_count'] != 0 %}
            <div class="span4">
                <div class="col_header">
                    <a href="#" class="tabtitle">链接 {{ template_values['link_count'] }}</a>
                </div>
                {% for link in template_values['links'] %}
                <div class="row">
                    <div class="status_preview_link">
                        <span class="cell">
                            <a href="/link/{{ handler.encode(link[4]) }}">
                                <div class="status_preview">
                                    {{ link[2] if link[2] else link[1] }} 
                                </div>
                                <div class="timestamp">
                                    {{ link[0] }}
                                </div>
                            </a>
                        </span>
                    </div>
                </div>
                {% end %}
            </div>
            {% end %}
            {% if template_values['doc_count'] != 0 %}
            <div class="span4">
                <div class="col_header">
                    <a href="#" class="tabtitle">文档 {{ template_values['doc_count'] }}</a>
                </div>
                {% for doc in template_values['docs'] %}
                <div class="row">
                    <div class="status_preview_link">
                        <span class="cell">
                            <a href="/doc/{{ handler.encode(doc[4]) }}">
                                <div class="status_preview">
                                    {{ doc[2] }} 
                                </div>
                                <div class="timestamp">
                                    {{ doc[0] }}
                                </div>
                            </a>
                        </span>
                    </div>
                </div>
                {% end %}
            </div>
            {% end %}
        </div>
        <div class="col2">
            {% if template_values['status_count'] != 0 %}
            <div class="span4">
                <div class="col_header">
                    <a href="#" class="tabtitle">状态 {{ template_values['status_count'] }}</a>
                </div>
                {% for status in template_values['statuses'] %}
                <div class="row">
                    <div class="status_preview_link">
                        <span class="cell">
                            <div class="status_preview">
                                {{ handler.br(handler.at(linkify(status[1], extra_params="target='_blank' rel='nofollow'"))) }} 
                            </div>
                            <div class="timestamp">
                                <a href="/status/{{ handler.encode(status[2]) }}">{{ status[0] }}</a>
                            </div>
                        </span>
                    </div>
                </div>
                {% end %}
            </div>
            {% end %}
            {% if template_values['note_count'] != 0 %}
            <div class="span4">
                <div class="col_header">
                    <a href="#" class="tabtitle">日志 {{ template_values['note_count'] }}</a>
                </div>
                {% for note in template_values['notes'] %}
                <div class="row">
                    <div class="status_preview_link">
                        <span class="cell">
                            <a href="/note/{{ handler.encode(note[4]) }}">
                                <div class="status_preview">
                                    {{ note[1] }} 
                                </div>
                                <div class="timestamp">
                                    {{ note[0] }}
                                </div>
                            </a>
                        </span>
                    </div>
                </div>
                {% end %}
            </div>
            {% end %}
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("js/people.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap-modal.js") }}"></script>
{% end %}
