{% extends "base.html" %}

{% block head %}
<title>{{ "编辑日志" if template_values else "发布日志" }}</title>
<style type="text/css">
    .pubform {
        float: right;
        margin-right: 130px;
    }
    .control-group {
        margin-bottom: 0;
    }
    form #notetitle .input-xlarge {
        text-align: center;
        width: 720px;
        height: 20px;
        padding: 7px;
        font-size: 16px;
    }
    form #notecontent .input-xlarge {
        width: 720px;
        height: 350px;
        font-size: 14px;
        padding: 7px;
    }
    .sub-button .sub{
        float: right;
    }
    .sub-button .cancel{
        float: left;
    }
</style>
{% end %}
{% block body %}
<div class="row">
    <div class="pubform">
        <form  id='pubnote' method='POST' action="{{ request.path }}">
            <fieldset>
                <div class="control-group" id="notetitle">
                    <input id="title" name="title" type="text" class="input-xlarge" value="{{ template_values['note'].title if template_values else '' }}">
                </div>
                <div class="control-group" id="notecontent">
                    <textarea id="content" name="content"  class="input-xlarge">{{ template_values['note'].note if template_values else '' }}</textarea>
                </div>
            </fieldset>
            <div class="sub-button">
                <span class="sub">
                    <button type="submit" class="btn" onclick="return pubnote(1);">私密发布</button>
                    <button type="submit" class="btn btn-primary" onclick="return pubnote(0);">公开发布</button>
                </span>
                <span class="cancel">
                    {% if template_values %}
                    <a type="submit" class="btn" href="/note/{{ template_values['note'].id }}">取消</a>
                    {% else %}
                    <a type="submit" class="btn" href="/">取消</a>
                    {% end %}
                </span>
            </div>
            <input id="noteid" type="hidden" name="id" value="{{ template_values['note'].id if template_values else '' }}">
        </form>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/pubnote.js') }}"></script>
{% end %}
