{% extends "base.html" %}

{% block head %}
<title>18周 › {{ template_values['region'] }}</title>
<link rel="stylesheet" href="{{ static_url("css/region.css") }}" type="text/css"/>
{% end %}
{% block body %}
<div class="container">
    {% if not current_user %}{% module Template("modules/followpopup.html") %}{% end %}
    <div class="hero-unit" style="margin-left:40px;padding:0;background-color:#FFF">
        <div class="namefollowrow">
            <h3 style="display:inline">{{ escape(template_values['region']) }}</h3>
        </div>
        <div class="avatar">
            <img width="150px" height="150px" src="{{ template_values['image'] }}">
        </div>
        <div class="profile">
            <div class="span7">
                <div class="col_header">
                    <div class="profile-text">
                        有{{ template_values['people_count'] }}人在{% if template_values['type'] == 'major'%}修{% end %}{{ escape(template_values['region']) }}{% if template_values['type'] == 'major'%}专业{% end %}
                    </div>
                </div>
                <div class="peoplelist">
                    {% module Template("modules/follow_people.html", template_values=template_values) %}
                </div>
                <div id="li" style="display: none">{{ template_values['lastindex'] }}</div>
                <a href="#" id="morebtn" class="btn" style='width:500px;margin:5px 0 10px 50px;{{ "display: none" if template_values['hasnext'] == 0 else "" }}' onclick='return morefeed("{{ template_values['type'] }}","{{ template_values['region'] }}")'>更多</a>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("js/people.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap-modal.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/region.js") }}"></script>
{% end %}
